@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
*{
    margin:0px;
    padding: 0px;
}
.top-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(252 252 252);
    padding: 20px 30px;
    position: relative;
    box-shadow: 0px 0px 5px 1px  rgb(182, 176, 176);;
}

.top-section .logo{
    width: 80px;
}

.top-section .logo img{
    width: 100%;
}
.top-section .search-bar{
    display: flex;
    width: 40%;
    border: 1px solid #E42B26; 
    border-radius: 5px;
    margin-right: 250px;
    margin-left: 50px;
    position: relative;
}

.top-section .search-bar input{
    border-radius: 4px;
    width:100%;
    outline: none;
    border: none;
    font-size: 20px;
    
    

}
.top-section .search-bar input::placeholder{
    color: #E42B26;
    

}
.top-section .search-bar i{
    
    font-size: 25px;
    color: white;
    font-weight: 600;
    background-color: #E42B26;
    padding: 10.5px 13px;
    
    
}

.top-section .right-section{
    display: flex;
}
.top-section .right-section .profile i{
    font-size: 25px;
    padding: 12px 14px;
    background-color: #E42B26;
    font-weight: 600;
    margin: 0px 10px;
    color: white;
    border-radius: 50%;

}

.top-section .right-section .cart-logo i{
    font-size: 30px;
    padding: 12px 14px;
    font-weight: 600;
    margin: 0px 10px;
    color:  #E42B26
    
}
.suggestion{
    position: absolute;
    top:50px;
    left: 0px;
    right: 0px;
    border: 1px solid #E42B26;
    background-color:#f3f2f2;
    padding-top: 20px;
    z-index: 2;
    
}
.suggested_item{
    font-size: 20px;
    border-bottom: 1px solid #E42B26;
    padding: 5px 10px ;
    margin-bottom: 10px;
    cursor: pointer;
}
.suggested_item:hover{
    transform:scaleY(1.2);
}
.suggested_item:last-child{
    margin-bottom: 0px;
    border-bottom: none;
}
.none{
    display: none;
}
#arrow{
display: inline-block;
height: 0px;
width: 0px;
border-top:8px solid  white;
border-left:8px solid transparent;
border-right:8px solid transparent;
transition: 0.5s linear;

}
#arrow-author{
    display: inline-block;
    height: 0px;
    width: 0px;
    border-top:8px solid  white;
    border-left:8px solid transparent;
    border-right:8px solid transparent;
    transition: 0.5s linear;
    
    }
.nav-bar .left-sec{
    display: flex;
    color: white;
    font-size: 22px;
    align-items: center;
    
}
.nav-bar .left-sec div{
    margin-right: 40px;
}
.nav-bar .left-sec span:nth-child(2){
    margin-left: 9px;
}
.nav-bar .left-sec .drop-down{
    display: flex;
    align-items: center;
    position: relative;
}
.nav-bar .left-sec .drop-down-author{
    display: flex;
    align-items: center;
    position: relative;
}

.nav-bar{
    margin-top: 5px;
    background-color: #E42B26;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
}
.nav-bar .right-sec{
    width: 55px;
    cursor: pointer;

} 
.nav-bar .right-sec img{
    width: 100%;
}
.nav-bar .left-sec  div:hover{
    font-weight: 800;
    cursor: pointer;

}
.drop-down:hover .drop-content{
    font-weight: normal;
}
.drop-down-author:hover .drop-content-author{
    font-weight: normal;
}
 .drop-content:hover p{
   font-weight: normal;
}
.drop-content-author:hover p{
    font-weight: normal;
 }
.nav-bar .left-sec .drop-content{
    position: absolute;
    background-color: #f3f2f2;
    top:48px;
    left: 0px;
    color: #E42B26;
    width: 250px;
    padding-top: 10px ;
    box-shadow: 0px 0px 7px 2px #E42B26;
    transition: 0.5s linear;
    transform-origin: top;
    z-index: 2;
}
.nav-bar .left-sec .drop-content-author{
    position: absolute;
    background-color: #f3f2f2;
    top:48px;
    left: 0px;
    color: #E42B26;
    width: 250px;
    padding-top: 10px ;
    box-shadow: 0px 0px 7px 2px #E42B26;
    transition: 0.5s linear;
    transform-origin: top;
    z-index: 2;
}
.nav-bar .left-sec .drop-content .drop-item{
    padding: 10px 10px;
    font-size: 19px;
    border-bottom: 1px solid #E42B26;
    font-family: 'Caveat Brush', cursive;
    cursor: pointer;
}
.nav-bar .left-sec .drop-content-author .drop-item-author{
    padding: 10px 10px;
    font-size: 19px;
    border-bottom: 1px solid #E42B26;
    font-family: 'Caveat Brush', cursive;
    cursor: pointer;
}
.nav-bar .left-sec .drop-content .drop-item:hover{
    transform: scaleY(1.2);
    font-weight: 700;
}
.nav-bar .left-sec .drop-content-author .drop-item-author:hover{
    transform: scaleY(1.2);
    font-weight: 700;
}
.hide{
    transform-origin: top;
    transform: scaleY(0);
}

.banner{
    margin-top: 10px;
}
.banner img{
 width: 100%;
}
.fade{
    opacity: 0.5;
}

.hero-banner{
    margin: 10px 0px;
    box-shadow: 0px 0px 4px 4px #d8d7d7;
}
.slick-dots{
    display: flex;
    list-style-type: none;
    justify-content: center;
}
.slick-dots li button{
    font-size: 0px;
    height: 10px;
    width: 10px;
    background-color:rgb(59, 59, 138);
    margin:  15px 10px;
    border: none;
    border-radius: 50%;

}
.slick-dots .slick-active button{
    background-color:rgb(136, 134, 134);
}
.banner-bottom{
    margin: 20px 0px;
    overflow: hidden;
    position: relative;
    height: 200px;
    
}
.banner-bottom-child{
    display: flex;
    justify-content: space-between;
    width: 150%;
    position: absolute;
    /* right:0px; */
    animation: move linear 15s infinite ;
    
}
.banner-bottom-child .banner-item{
    width: 5%;
   text-align: center;
    
}
@keyframes move{
    0%{left:5%}
    10%{left:-11%}
    20%{left:-22%}
    30%{left:-33%}
    40%{left:-44%}
    50%{left:-55%}
    60%{left:-44%}
    70%{left:-33%}
    80%{left:-22%}
    90%{left:-11%}
    100%{left:5%}
/*     
    0%{left:0px}
    50%{right: 0px}
    100%{left: 0px} */
}


.banner-bottom-child .banner-item img{
    width: 100%;
}


.all-books-wrapper{
    padding: 20px 40px;
}
.all-books{
    display: flex;
    justify-content: space-between;
    
}
.all-books .all-book-item{
    margin: 10px 13px;
    width: 56%;
    box-shadow: 0px 0px 12px 2px rgb(175, 175, 196);
    cursor: pointer;
}
.all-books .all-book-item .book-img{
    width: 100%;
    
}
.all-books .all-book-item .book-name{
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
    
}

.all-books .all-book-item .book-author{
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
    
}
.all-books .all-book-item .book-price{
    margin:10px;
}
.all-books .all-book-item .book-price span:nth-child(1){
   color: #E42B26;
   font-weight: 600;
   font-size: 16px;
}
.all-books .all-book-item .book-price span:nth-child(2){
    font-size: 14px;
    text-decoration: line-through;
    margin-left: 10px;
 }
.all-books .all-book-item .book-img img{
   display: block;
   width: 80%;
   margin: 20px auto;
   aspect-ratio: 0.8;
}
.all-books-wrapper .all-book-heading{
    display: flex;
    margin: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.all-books-wrapper .all-book-heading p:nth-child(1){
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
}
.all-books-wrapper .all-book-heading p:nth-child(2){
    font-size: 20px;
    font-family: 'Dancing Script', cursive;
    background-color: #E42B26;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
}







.trending-books-wrapper{
    padding: 20px 40px;
}
.trending-books{
    display: flex;
    justify-content: space-between;
    
}
.trending-books .trending-book-item{
    margin: 10px 13px;
    width: 56%;
    box-shadow: 0px 0px 12px 2px rgb(175, 175, 196);
    cursor: pointer;
}
.trending-books .trending-book-item .book-img{
    width: 100%;
    
}
.trending-books .trending-book-item .book-name{
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
    
}

.trending-books .trending-book-item .book-author{
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
    
}
.trending-books .trending-book-item .book-price{
    margin:10px;
}
.trending-books .trending-book-item .book-price span:nth-child(1){
   color: #E42B26;
   font-weight: 600;
   font-size: 16px;
}
.trending-books .trending-book-item .book-price span:nth-child(2){
    font-size: 14px;
    text-decoration: line-through;
    margin-left: 10px;
 }
.trending-books .trending-book-item .book-img img{
   display: block;
   width: 80%;
   margin: 20px auto;
   aspect-ratio: 0.8;
}
.trending-books-wrapper .trending-book-heading{
    display: flex;
    margin: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trending-books-wrapper .trending-book-heading p:nth-child(1){
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
}
.trending-books-wrapper .trending-book-heading p:nth-child(2){
    font-size: 20px;
    font-family: 'Dancing Script', cursive;
    background-color: #E42B26;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
}


@media only screen and (max-width: 990px) {

    .banner-bottom{
        margin: 20px 0px;
        overflow: hidden;
        position: relative;
        height: 140px;
        background-color: antiquewhite;
    }
    .banner-bottom-child .banner-item{
        width: 5%;
       text-align: center;
        
    }
   
    .top-section .search-bar{
        display: flex;
        width: 50%;
        border: 1px solid #E42B26; 
        border-radius: 4px;
        margin-right: 50px;
        margin-left: 50px;
    }

    .all-books .all-book-item:nth-child(5){
      display: none;
    }
    
    .all-books .all-book-item{
        margin: 10px 10px;
        width: 50%;
        box-shadow: 0px 0px 12px 2px rgb(175, 175, 196);
        cursor: pointer;
    }
    .all-books-wrapper{
        padding: 20px 20px;
    }



    .trending-books .trending-book-item:nth-child(5){
        display: none;
      }
      
      .trending-books .trending-book-item{
          margin: 10px 10px;
          width: 50%;
          box-shadow: 0px 0px 12px 2px rgb(175, 175, 196);
          cursor: pointer;
      }
      .trending-books-wrapper{
          padding: 20px 20px;
      }
  }

  @media only screen and (max-width: 760px) {

    .banner-bottom{
        margin: 20px 0px;
        overflow: hidden;
        position: relative;
        height: 140px;
        background-color: antiquewhite;
    }
    .banner-bottom-child .banner-item{
        width: 6%;
       text-align: center;
        
    }
    
    .top-section{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(252 252 252);
        padding: 10px 10px;
        position: relative;
        box-shadow: 0px 0px 5px 1px  rgb(182, 176, 176);;
    }
   
    .top-section .search-bar{
        display: flex;
        width: auto;
        border: 1px solid #E42B26; 
        border-radius: 4px;
        margin-right: 0px;
        margin-left: 0px;
        position: absolute;
        
        top:110px;
        left:40px;
        right: 40px;
    }
    .nav-bar{
        margin-top: 80px;
        background-color: #E42B26;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 10px;
    }

    .slick-dots li button{
        font-size: 0px;
        height: 10px;
        width: 10px;
        background-color:rgb(59, 59, 138);
        margin:  10px 8px;
        border: none;
        border-radius: 50%;
    
    }
    .all-books-wrapper{
        padding: 20px 5px;
    }

    .all-books-wrapper .all-book-heading{
        display: flex;
        margin: 10px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .all-books .all-book-item{
        margin: 10px 7px;
        width: 50%;
        box-shadow: 0px 0px 12px 2px rgb(175, 175, 196);
        cursor: pointer;
    } 

    .all-books-wrapper .all-book-heading p:nth-child(1){
        font-size: 30px;
        font-family: 'Dancing Script', cursive;
    }
    .all-books-wrapper .all-book-heading p:nth-child(2){
        font-size: 16px;
        font-family: 'Dancing Script', cursive;
        background-color: #E42B26;
        color: white;
        padding: 3px 7px;
        cursor: pointer;
    }




    .trending-books-wrapper{
        padding: 20px 5px;
    }

    .trending-books-wrapper .trending-book-heading{
        display: flex;
        margin: 10px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .trending-books .trending-book-item{
        margin: 10px 7px;
        width: 50%;
        box-shadow: 0px 0px 12px 2px rgb(175, 175, 196);
        cursor: pointer;
    } 

    .trending-books-wrapper .trending-book-heading p:nth-child(1){
        font-size: 30px;
        font-family: 'Dancing Script', cursive;
    }
    .trending-books-wrapper .trending-book-heading p:nth-child(2){
        font-size: 16px;
        font-family: 'Dancing Script', cursive;
        background-color: #E42B26;
        color: white;
        padding: 3px 7px;
        cursor: pointer;
    }
  }

  @media only screen and (max-width: 560px){

    .banner-bottom{
        margin: 20px 0px;
        overflow: hidden;
        position: relative;
        height: 120px;
        background-color: antiquewhite;
    }
    .banner-bottom-child .banner-item{
        width: 7%;
       text-align: center;
        
    }
    

    .top-section .search-bar{
        display: flex;
        width: auto;
        border: 1px solid #E42B26; 
        border-radius: 4px;
        margin-right: 0px;
        margin-left: 0px;
        position: absolute;
        top:90px;
        left:20px;
        right: 20px;
    }
    .top-section .logo{
        width: 60px;
    }
    .top-section .right-section .profile i{
        font-size: 20px;
        padding: 12px 14px;
        background-color: #E42B26;
        font-weight: 600;
        margin: 0px 10px;
        color: white;
        border-radius: 50%;
    
    }
    
    .top-section .right-section .cart-logo i{
        font-size: 25px;
        padding: 12px 0px;
        font-weight: 600;
        margin: 0px 10px;
        color:  #E42B26
        
    }
    .nav-bar .right-sec{
        width: 45px;
    
    }
    .nav-bar .left-sec{
        display: flex;
        color: white;
        font-size: 19px;
        align-items: center;
        
    }
    .nav-bar .left-sec div{
        margin-right: 25px;
    }
    .nav-bar .left-sec .drop-content{
        position: absolute;
        background-color: #f3f2f2;
        top:42px;
        left: 0px;
        color: #E42B26;
        width: 250px;
        padding-top: 10px ;
        box-shadow: 0px 0px 7px 2px #E42B26;
    }
    .nav-bar .left-sec .drop-content-author{
        position: absolute;
        background-color: #f3f2f2;
        top:42px;
        left: 0px;
        color: #E42B26;
        width: 250px;
        padding-top: 10px ;
        box-shadow: 0px 0px 7px 2px #E42B26;
    }
    #arrow{
        display: inline-block;
        height: 0px;
        width: 0px;
        border-top:6px solid  white;
        border-left:6px solid transparent;
        border-right:6px solid transparent;
        transition: 0.5s linear;
        
        
        }
        #arrow-author{
            display: inline-block;
            height: 0px;
            width: 0px;
            border-top:6px solid  white;
            border-left:6px solid transparent;
            border-right:6px solid transparent;
            transition: 0.5s linear;
            
            
            }

            .all-books .all-book-item:nth-child(4){
                display: none;
              }

              .all-books .all-book-item{
                margin: 10px 5px;
                width: 50%;
                box-shadow: 0px 0px 12px 2px rgb(175, 175, 196);
                cursor: pointer;
            } 



            .trending-books .trending-book-item:nth-child(4){
                display: none;
              }

              .trending-books .trending-book-item{
                margin: 10px 5px;
                width: 50%;
                box-shadow: 0px 0px 12px 2px rgb(175, 175, 196);
                cursor: pointer;
            } 


            
   
  }